@import "../lib/css/mixins.less";
//ball1
@keyframes rotate{
  from {
    transform: rotateZ(0) rotateY(0);
    -webkit-transform: rotateZ(0) rotateY(0);
  }
  to {
    transform: rotateZ(360deg) rotateY(180deg);
    -webkit-transform:  rotateZ(360deg) rotateY(180deg);
  }
}

//ball2
@-webkit-keyframes rotate{
  from {
    transform: rotateZ(0) rotateY(0);
    -webkit-transform: rotateZ(0) rotateY(0);
  }
  to {
    transform: rotateZ(360deg) rotateY(180deg);
    -webkit-transform:  rotateZ(360deg) rotateY(180deg);
  }
}

@keyframes rotate1{
  from {
    .rotate(0);
  }
  to {
    .rotate(360deg);
  }
}

@-webkit-keyframes rotate1{
  from {
    .rotate(0);
  }
  to {
    .rotate(360deg);
  }
}

@keyframes an1{
  0%{
    transform:translateZ(0) scale(0.01);
    -webkit-transform:translateZ(0) scale(0.01);
    .opacity(0);
  }
  90%{
    transform:translateZ(500px) scale(1.3);
    -webkit-transform:translateZ(500) scale(1.3);
    .opacity(1);
  }
  100%{
    transform:translateZ(400px) scale(1);
    -webkit-transform:translateZ(400) scale(1);
    .opacity(1);
  }
}

@-webkit-keyframes an1{
  0%{
    transform:translateZ(0) scale(0.01);
    -webkit-transform:translateZ(0) scale(0.01);
    .opacity(0);
  }
  90%{
    transform:translateZ(500px) scale(1.3);
    -webkit-transform:translateZ(500) scale(1.3);
    .opacity(1);
  }
  100%{
    transform:translateZ(400px) scale(1);
    -webkit-transform:translateZ(400) scale(1);
    .opacity(1);
  }
}

@keyframes an2{
  0%{
    transform:translateZ(0) scale(0.01);
    -webkit-transform:translateZ(0) scale(0.01);
    .opacity(0);
  }
  100%{
    transform:translateZ(300px) scale(1);
    -webkit-transform:translateZ(300px) scale(1);
    .opacity(1);
  }
}

@-webkit-keyframes an2{
  0%{
    transform:translateZ(0) scale(0.01);
    -webkit-transform:translateZ(0) scale(0.01);
    .opacity(0);
  }
  100%{
    transform:translateZ(300px) scale(1);
    -webkit-transform:translateZ(300px) scale(1);
    .opacity(1);
  }
}

@keyframes an3{
  0%{
    transform:translateZ(0) scale(0.01);
    -webkit-transform:translateZ(0) scale(0.01);
    .opacity(0);
  }

  100%{
    transform:translateZ(200px) scale(1);
    -webkit-transform:translateZ(200px) scale(1);
    .opacity(1);
  }
}

@-webkit-keyframes an3{
  0%{
    transform:translateZ(0) scale(0.01);
    -webkit-transform:translateZ(0) scale(0.01);
    .opacity(0);
  }

  100%{
    transform:translateZ(200px) scale(1);
    -webkit-transform:translateZ(200px) scale(1);
    .opacity(1);
  }
}

//ball3
@keyframes scale3d{
  0%{
    transform: scale3d(1,1,1);
    -webkit-transform:scale3d(1,1,1);
  }

  100%{
    transform: scale3d(1,0.5,1);
    -webkit-transform:scale3d(1,0.5,1);
  }
}
@-webkit-keyframes scale3d{
  0%{
    transform: scale3d(1,1,1);
    -webkit-transform:scale3d(1,1,1);
  }

  100%{
    transform: scale3d(0,1,1);
    -webkit-transform:scale3d(0,1,1);
  }
}


//ball3
@keyframes rotate-ball3 {
  0% { .rotate( 0 ); }
  10% { width: 6.250em; height: 6.250em; }
  66% { width: 2.4em; height: 2.4em; }
  100%{ .rotate(360deg); width: 6.250em; height: 6.250em; }
}

@keyframes dotsY {
  66% { opacity: .1; width: 2.4em; }
  77%{ opacity: 1; width: 0; }
}
@keyframes dotsX {
  66% { opacity: .1; height: 2.4em;}
  77%{ opacity: 1; height: 0; }
}

@keyframes flash {
  33% { opacity: 0; border-radius: 0%; }
  55%{ opacity: .6; border-radius: 100%; }
  66%{ opacity: 0; }
}

@-webkit-keyframes rotate-ball3 {
  0% { transform: rotate( 0 ); }
  10% { width: 6.250em; height: 6.250em; }
  66% { width: 2.4em; height: 2.4em; }
  100%{ transform: rotate(360deg); width: 6.250em; height: 6.250em; }
}

@-webkit-keyframes dotsY {
  66% { opacity: .1; width: 2.4em; }
  77%{ opacity: 1; width: 0; }
}
@-webkit-keyframes dotsX {
  66% { opacity: .1; height: 2.4em;}
  77%{ opacity: 1; height: 0; }
}

@-webkit-keyframes flash {
  33% { opacity: 0; border-radius: 0%; }
  55%{ opacity: .6; border-radius: 100%; }
  66%{ opacity: 0; }
}