/* Reset.less
 * Props to Eric Meyer (meyerweb.com) for his CSS reset file. We're using an adapted version here	that cuts out some of the reset HTML elements we will never need here (i.e., dfn, samp, etc).
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
html,
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul {
  list-style: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
@keyframes rotate {
  from {
    transform: rotateZ(0) rotateY(0);
    -webkit-transform: rotateZ(0) rotateY(0);
  }
  to {
    transform: rotateZ(360deg) rotateY(180deg);
    -webkit-transform: rotateZ(360deg) rotateY(180deg);
  }
}
@-webkit-keyframes rotate {
  from {
    transform: rotateZ(0) rotateY(0);
    -webkit-transform: rotateZ(0) rotateY(0);
  }
  to {
    transform: rotateZ(360deg) rotateY(180deg);
    -webkit-transform: rotateZ(360deg) rotateY(180deg);
  }
}
@keyframes rotate1 {
  from {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate1 {
  from {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes an1 {
  0% {
    transform: translateZ(0) scale(0.01);
    -webkit-transform: translateZ(0) scale(0.01);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  90% {
    transform: translateZ(500px) scale(1.3);
    -webkit-transform: translateZ(500) scale(1.3);
    opacity: 1;
    filter: alpha(opacity=100);
  }
  100% {
    transform: translateZ(400px) scale(1);
    -webkit-transform: translateZ(400) scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
@-webkit-keyframes an1 {
  0% {
    transform: translateZ(0) scale(0.01);
    -webkit-transform: translateZ(0) scale(0.01);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  90% {
    transform: translateZ(500px) scale(1.3);
    -webkit-transform: translateZ(500) scale(1.3);
    opacity: 1;
    filter: alpha(opacity=100);
  }
  100% {
    transform: translateZ(400px) scale(1);
    -webkit-transform: translateZ(400) scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
@keyframes an2 {
  0% {
    transform: translateZ(0) scale(0.01);
    -webkit-transform: translateZ(0) scale(0.01);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    transform: translateZ(300px) scale(1);
    -webkit-transform: translateZ(300px) scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
@-webkit-keyframes an2 {
  0% {
    transform: translateZ(0) scale(0.01);
    -webkit-transform: translateZ(0) scale(0.01);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    transform: translateZ(300px) scale(1);
    -webkit-transform: translateZ(300px) scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
@keyframes an3 {
  0% {
    transform: translateZ(0) scale(0.01);
    -webkit-transform: translateZ(0) scale(0.01);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    transform: translateZ(200px) scale(1);
    -webkit-transform: translateZ(200px) scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
@-webkit-keyframes an3 {
  0% {
    transform: translateZ(0) scale(0.01);
    -webkit-transform: translateZ(0) scale(0.01);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    transform: translateZ(200px) scale(1);
    -webkit-transform: translateZ(200px) scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
@keyframes scale3d {
  0% {
    transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
  }
  100% {
    transform: scale3d(1, 0.5, 1);
    -webkit-transform: scale3d(1, 0.5, 1);
  }
}
@-webkit-keyframes scale3d {
  0% {
    transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
  }
  100% {
    transform: scale3d(0, 1, 1);
    -webkit-transform: scale3d(0, 1, 1);
  }
}
@keyframes rotate-ball3 {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  10% {
    width: 6.250em;
    height: 6.250em;
  }
  66% {
    width: 2.4em;
    height: 2.4em;
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    width: 6.250em;
    height: 6.250em;
  }
}
@keyframes dotsY {
  66% {
    opacity: .1;
    width: 2.4em;
  }
  77% {
    opacity: 1;
    width: 0;
  }
}
@keyframes dotsX {
  66% {
    opacity: .1;
    height: 2.4em;
  }
  77% {
    opacity: 1;
    height: 0;
  }
}
@keyframes flash {
  33% {
    opacity: 0;
    border-radius: 0%;
  }
  55% {
    opacity: .6;
    border-radius: 100%;
  }
  66% {
    opacity: 0;
  }
}
@-webkit-keyframes rotate-ball3 {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  10% {
    width: 6.250em;
    height: 6.250em;
  }
  66% {
    width: 2.4em;
    height: 2.4em;
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    width: 6.250em;
    height: 6.250em;
  }
}
@-webkit-keyframes dotsY {
  66% {
    opacity: .1;
    width: 2.4em;
  }
  77% {
    opacity: 1;
    width: 0;
  }
}
@-webkit-keyframes dotsX {
  66% {
    opacity: .1;
    height: 2.4em;
  }
  77% {
    opacity: 1;
    height: 0;
  }
}
@-webkit-keyframes flash {
  33% {
    opacity: 0;
    border-radius: 0%;
  }
  55% {
    opacity: .6;
    border-radius: 100%;
  }
  66% {
    opacity: 0;
  }
}
body {
  background: #555555;
}
.board {
  width: 1000px;
  margin: 0 auto;
}
.board .ball {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  -webkit-animation: rotate 3s linear 0s infinite;
  animation: rotate 3s linear 0s infinite;
  overflow: hidden;
  background: #00b3ee;
}
.board .ball i {
  position: absolute;
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #FF0;
  top: 0;
  left: 50%;
  margin-left: -3px;
}
.ball1-wrap {
  width: 500px;
  height: 500px;
  position: relative;
  border: 1px solid #f5f5f5;
  border-radius: 50%;
  -webkit-animation: rotate1 3s linear 0s infinite;
  animation: rotate1 3s linear 0s infinite;
  perspective: 4000;
  -webkit-perspective: 4000;
  /* Safari 和 Chrome */
}
.ball1-wrap i {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #00b3ee;
  top: 0;
  left: 50%;
  margin-left: -2px;
  display: block;
}
.ball1-wrap .ball-item {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  border-radius: 50%;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  transform-origin: center center;
}
.ball1-wrap .ball1 {
  margin: -100px 0 0 -100px;
  width: 200px;
  height: 200px;
  background: #c3325f;
  -webkit-animation: an1 1s ease-out 0s both;
  animation: an1 1s ease-out 0s both;
  z-index: 3;
  opacity: 0;
  filter: alpha(opacity=0);
}
.ball1-wrap .ball2 {
  margin: -150px 0 0 -150px;
  width: 300px;
  height: 300px;
  background: #FFFF00;
  -webkit-animation: an2 1s ease-out 0.9s both;
  animation: an2 1s ease-out 0.9s both;
  z-index: 2;
}
.ball1-wrap .ball2 .ball2-heart {
  width: 200px;
  height: 200px;
}
.ball1-wrap .ball3 {
  margin: -200px 0 0 -200px;
  width: 400px;
  height: 400px;
  background: #7a43b6;
  -webkit-animation: an3 1s ease-out 1.8s both;
  animation: an3 1s ease-out 1.8s both;
  z-index: 1;
}
.ball2-wrap {
  -webkit-perspective: 2000;
  -moz-perspective: 2000;
  -ms-perspective: 2000;
  perspective: 2000;
}
.ball2-wrap .ball1 {
  width: 200px;
  height: 200px;
  background: #FFFF00;
  border-radius: 50%;
  -webkit-animation: scale3d 2s linear alternate infinite;
  animation: scale3d 2s linear alternate infinite;
}
.ball3-wrap figure {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 6.250em;
  height: 6.250em;
  -webkit-animation: rotate-ball3 2.4s linear infinite;
  animation: rotate-ball3 2.4s linear infinite;
}
.ball3-wrap .white {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  opacity: 0;
}
.ball3-wrap .dot {
  position: absolute;
  margin: auto;
  width: 2.4em;
  height: 2.4em;
  border-radius: 100%;
}
.ball3-wrap .dot:nth-child(2) {
  top: 0;
  bottom: 0;
  left: 0;
  background: #FF4444;
  -webkit-animation: dotsY 2.4s linear infinite;
  animation: dotsY 2.4s linear infinite;
}
.ball3-wrap .dot:nth-child(3) {
  left: 0;
  right: 0;
  top: 0;
  background: #FFBB33;
  -webkit-animation: dotsX 2.4s linear infinite;
  animation: dotsX 2.4s linear infinite;
}
.ball3-wrap .dot:nth-child(4) {
  top: 0;
  bottom: 0;
  right: 0;
  background: #99CC00;
  -webkit-animation: dotsY 2.4s linear infinite;
  animation: dotsY 2.4s linear infinite;
}
.ball3-wrap .dot:nth-child(5) {
  left: 0;
  right: 0;
  bottom: 0;
  background: #33B5E5;
  -webkit-animation: dotsX 2.4s linear infinite;
  animation: dotsX 2.4s linear infinite;
}
